data/
runs/
lightning_logs/
server_runs/
saved_models/
notebook.ipynb
models/__pycache__/
utils/__pycache__/
.gitignore
dummy.py
test-trn-dwlpt/
test-val-dwlpt/
presentation
saved_metrics
saved_models
__pycache__
notebook.ipynb
run_everything.py